.SliderMovie{
    position: relative;
    width: 100%;
 height: 80vh;
  
}
.imgslider{
    background-size:cover;
    background-repeat: no-repeat;
    position: relative;
    background-position: center;
   height: 100%!important;
    width: 100%;
}
.imgslider video{
    width: 100%;
object-fit: cover;
margin-top: 40px;
object-position: top;
    height:100%;
    
}


.autoplay-progress {
    position: absolute;
    right: 16px;
    bottom: 35px;
    z-index: 10;
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 0.8em;
    color: var(--swiper-theme-color);
  }


  .autoplay-progress svg {
    --progress: 0;
    position: absolute;
    left: 0;
    top: 0px;
    z-index: 10;
    width: 100%;
    height: 100%;
    stroke-width: 4px;
    stroke: var(--swiper-theme-color);
    fill: none;
    stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
    stroke-dasharray: 125.6;
    transform: rotate(-90deg);
  }
  .onslider{
display: flex;
align-items: right;
justify-content: center;
flex-direction: column;
   top: 0;
    color: rgb(255, 255, 255);
    font-size: 3em;
  position: absolute;
  width: 100%;
  height: 100%;
background-color: rgba(0, 0, 0, 0.383);
  z-index: 333;
  padding-right: 30px;
  }
  
  .onslider h2{
    font-family: kalameh;
   
 
    font-size: 1.2em;
  }
.infoslide{
    display: flex;
    align-items: center;
    justify-content: right;
    flex-direction: row;
    font-size: 0.4em!important;
}
.infoslide p svg{
margin-left: 5px;
}
.infoslide p{
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.playmslider{
    padding: 5px 20px;
    text-decoration: none;
    background-color: orange;
    color: #000000;
font-size: 0.4em;
    border-radius: 10px;
    display: flex;
 
    align-items: center;
    justify-content: space-evenly;
}
.playmslider svg{
    margin: 10px;
}
.playmslider path{
 
    color: black;
}
.playmslider:hover{
    background-color: white;
}
.playsliderp{
    display: inherit;
}


    

@media only screen and (max-width: 1268px) {
    .onslider{
justify-content: end;
align-items: center;
padding: 10px;
    }

    .onslider h2{
        font-size: 1em;
    }
}


@media only screen and (max-width: 446px) {
    .onslider h2{
        font-size: 0.8em;
    }
    .onslider a{
        font-size: 0.4em;
    }
}


@media only screen and (max-width: 374px) {
    .onslider{
        justify-content: end;
        align-items: center;
    
            }
}

