*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #ebe7e7;
font-family:isans;
}

@font-face {
	font-family: Kalameh2;
	font-style: normal;
	font-weight: 900;
	src: url('/public/Fonts/kalameh_regular.ttf') format('truetype');  /* FF39+,Chrome36+, Opera24+*/
		}


@font-face {
	font-family: Kalameh;
	src: url('/public/Fonts/kalamehwebfanum-bold.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('/public/Fonts/kalamehwebfanum-bold.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
	font-family: isans;
	src: url('/public/Fonts/isans.ttf') format('truetype');
	}

body{
  background-color: #0F1114;


}

.container{
  width: 100%;
  margin: auto;
}

.loading{
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 2em;
	position: absolute;
	top: 0;
	z-index: 55;
	background-color: black;
}